<style type = "text/css">
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 20px;
}
div.gallery:hover {
    border: 1px solid #777;
}  
div.gallery img {
    width: 10%;
    height: auto;
    float : auto;
}
div.desc {
    padding: 15px;
    text-align: left;
}
.center {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 12px;
  }
body{background-color : yellow}
h2{
    color : rgb(8, 12, 241);
    font-style : italic;
    font-size : 80%px;
}
h3{
    color : rgb(252, 7, 60);
    font-style = italic;
    font-size : 100%px;
}
</style>